
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title week9-skill-tree
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,700,900')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='all.css')
  body
    .wrap
        .skill-content
            .tree-info
                h2 FRONT-END SKILL TREE
                .skikk-level
                    span.skill-rank-title CURRENT RANK
                    span.skill-now-rank FRONT-END
                    br
                    span.skill-now-rank NOOB
                img.skill-now-rank-img(src="images/img-ship-noob@2x.png", alt="", srcset="")
                .skill-now-rank-info 
                    | Congradulations! You become the
                    span “Front-end Beginnner”
                    | . Keep searching the resources to upgrade to the next level.
            .skill-tree
                .level
                    .level-title
                        img(src="images/img-planet-basics@2x.png", alt="", srcset="")
                    .level-info
                        .level-skill
                            .level-skill-icon
                                i.material-icons category
                            .level-skill-required
                                i.material-icons settings
                                span 0
                                span /
                                span 3
                            .level-skill-optional
                                i.material-icons filter_tilt_shift
                                span 0
                                span /
                                span 3
                        .level-skill
                            .level-skill-icon
                                i.material-icons build
                            .level-skill-required
                                i.material-icons settings
                                span 0
                                span /
                                span 3
                            .level-skill-optional
                                i.material-icons filter_tilt_shift
                                span 0
                                span /
                                span 3
                .level
                    .level-title
                        img(src="images/img-planet-css@2x.png", alt="", srcset="")
                    .level-list
                        .level-info
                            .level-skill
                                .level-skill-icon
                                    i.material-icons flip_to_front
                                .level-skill-required
                                    i.material-icons settings
                                    span 0
                                    span /
                                    span 3
                                .level-skill-optional
                                    i.material-icons filter_tilt_shift
                                    span 0
                                    span /
                                    span 3
                            .level-skill
                                .level-skill-icon
                                    i.material-icons view_quilt
                                .level-skill-required
                                    i.material-icons settings
                                    span 0
                                    span /
                                    span 3
                                .level-skill-optional
                                    i.material-icons filter_tilt_shift
                                    span 0
                                    span /
                                    span 3
                            .level-skill
                                .level-skill-icon
                                    i.material-icons developer_board
                                .level-skill-required
                                    i.material-icons settings
                                    span 0
                                    span /
                                    span 3
                                .level-skill-optional
                                    i.material-icons filter_tilt_shift
                                    span 0
                                    span /
                                    span 3
                        .level-info
                            .level-skill
                                .level-skill-icon
                                    i.material-icons devices
                                .level-skill-required
                                    i.material-icons settings
                                    span 0
                                    span /
                                    span 3
                                .level-skill-optional
                                    i.material-icons filter_tilt_shift
                                    span 0
                                    span /
                                    span 3
                            .level-skill
                                .level-skill-icon
                                    i.material-icons widgets
                                .level-skill-required
                                    i.material-icons settings
                                    span 0
                                    span /
                                    span 3
                                .level-skill-optional
                                    i.material-icons filter_tilt_shift
                                    span 0
                                    span /
                                    span 3
                .level
                    .level-title
                        img(src="images/img-planet-js@2x.png", alt="", srcset="")
                    .level-list
                        .level-info
                            .level-skill
                                .level-skill-icon
                                    i.material-icons hdr_strong
                                .level-skill-required
                                    i.material-icons settings
                                    span 0
                                    span /
                                    span 3
                                .level-skill-optional
                                    i.material-icons filter_tilt_shift
                                    span 0
                                    span /
                                    span 3
                            .level-skill
                                .level-skill-icon
                                    i.material-icons gradient
                                .level-skill-required
                                    i.material-icons settings
                                    span 0
                                    span /
                                    span 3
                                .level-skill-optional
                                    i.material-icons filter_tilt_shift
                                    span 0
                                    span /
                                    span 3
                        .level-info
                            .level-skill
                                .level-skill-icon
                                    i.material-icons format_quote
                                .level-skill-required
                                    i.material-icons settings
                                    span 0
                                    span /
                                    span 3
                                .level-skill-optional
                                    i.material-icons filter_tilt_shift
                                    span 0
                                    span /
                                    span 3
                            .level-skill
                                .level-skill-icon
                                    i.material-icons developer_mode
                                .level-skill-required
                                    i.material-icons settings
                                    span 0
                                    span /
                                    span 3
                                .level-skill-optional
                                    i.material-icons filter_tilt_shift
                                    span 0
                                    span /
                                    span 3
                            .level-skill
                                .level-skill-icon
                                    i.material-icons nfc
                                .level-skill-required
                                    i.material-icons settings
                                    span 0
                                    span /
                                    span 3
                                .level-skill-optional
                                    i.material-icons filter_tilt_shift
                                    span 0
                                    span /
                                    span 3
                .level
                    .level-title.last
                        img(src="images/img-planet-managers@2x.png", alt="", srcset="")
                    .level-list
                        .level-info
                            .level-skill
                                .level-skill-icon
                                    i.material-icons device_hub
                                .level-skill-required
                                    i.material-icons settings
                                    span 0
                                    span /
                                    span 3
                                .level-skill-optional
                                    i.material-icons filter_tilt_shift
                                    span 0
                                    span /
                                    span 3
                            .level-skill
                                .level-skill-icon
                                    i.material-icons import_contacts
                                .level-skill-required
                                    i.material-icons settings
                                    span 0
                                    span /
                                    span 3
                                .level-skill-optional
                                    i.material-icons filter_tilt_shift
                                    span 0
                                    span /
                                    span 3
                            .level-skill
                                .level-skill-icon
                                    i.material-icons table_chart
                                .level-skill-required
                                    i.material-icons settings
                                    span 0
                                    span /
                                    span 3
                                .level-skill-optional
                                    i.material-icons filter_tilt_shift
                                    span 0
                                    span /
                                    span 3
        .skill-info
            .skill-info-title
                i.material-icons device_hub
                span BASIC
                span SKILLS
            .skill-info-content
                i.material-icons settings
                span RECOMMENDED
                .btn Learn HTML
                .btn Basics of CSS
                .btn Basics of JavaScript

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js')
    script(src='all.js')